*{
    margin: 0;
}

header{
    background-color: black;
    justify-content: center;
    color: white;
    display: flex;
    font-family: tw cen mt;
}

#user{
    color: white;
    padding: 1%;
    margin-top: 3px;
    
}
#home{
padding: 1%;
}

#about{
    padding: 1%;
}

#services{
    padding: 1%;
}

#more{
    padding: 1%;
}

#contact{
    padding: 1%;
}